<div style="font-family: consolas">
  <h1>|MP| ABOUT </h1>
  <p>Microposts is actually a pretty useless application. Its social media, but without the social part.</p>
  <p><a href="/static_pages/home">Go Home</a></p>
<div>