<div style="font-family: consolas">
  <h1>|MP| HELP </h1>
  <p>Need help? Read <a href="https://github.com/benCoomes/rails-tutorial/tree/main/sample_app">the source</a>.</p>
  <p><a href="/static_pages/home">Go Home</a></p>
<div>