<% provide(:title, "Home") %>
<div style="font-family: consolas">
  <h1>||| M I C R O P O S T S |||</h1>
  <p>For when your ideas are tiny.</p>
  <p><a href="/static_pages/help">Get Help</a></p>
  <p><a href="/static_pages/about">About</a></p>
<div>